<!DOCTYPE html>
<html lang="en">
  <head>
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/custom.css">	 
  </head>

  <body>

    <% include ./partials/navbar %>
    

    <div class="container">
      <!-- Example row of columns -->
     <%- body -%>
          
    </div> <!-- /container -->

      <% include ./partials/footer %>

    </body>
</html>
